.footerContainer{
background-color: rgb(217, 222, 243);
height: 100%;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;

}

.FooterInternetLinks{
display: flex;
justify-content: space-between;
margin-top: 10px;
}
.footerCopyRight{
    margin-top: 2px;
}