.appTop{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.appBottom{
    margin-top: 100px;
    display: flex;
    margin-bottom: 65px;
}
.sidebarApp{
flex:1;
}
.homeApp{
flex:4;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px; 
    margin-bottom: 0;   
    display: flex;
    align-items: center;

}
.icon{
    margin-right: 20px;
    cursor: pointer;
    color:  #006bc2;
    filter: drop-shadow(5px 5px 5px gray);
    transition: all 0.25s ease-in-out;
}
.icon:hover{
    filter: brightness(0.95);
    transform: scale(1.35);
}
img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    filter: drop-shadow(5px 5px 5px gray);
}